Register CSAF in security.txt

We should register CSAF as a dedicated field in the 'security.txt` ([Section 7.1.8](https://github.com/oasis-tcs/csaf/blob/master/csaf_2.0/prose/csaf-v2-editor-draft.md#718-requirement-8-securitytxt); see also https://github.com/securitytxt/security-txt/issues/200). This ticket tracks the effort as it is the last action item open from #152. 

@chet-ensign as per https://github.com/securitytxt/security-txt/issues/200 when the draft will become ant IETF RFC we can register per the usual procedure at IANA. I will contact you, so no need to watch the issue here. This is only to provide information ahead of time.

Thanks for the notice, Stefan. I'll be on the watch for it.

/chet

On Sat, Jul 24, 2021 at 9:36 AM Stefan Hagen ***@***.***>
wrote:

> @chet-ensign <https://github.com/chet-ensign> as per
> securitytxt/security-txt#200
> <https://github.com/securitytxt/security-txt/issues/200> when the draft
> will become ant IETF RFC we can register per the usual procedure at IANA. I
> will contact you, so no need to watch the issue here. This is only to
> provide information ahead of time.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/oasis-tcs/csaf/issues/318#issuecomment-886054786>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ACYUWRLYQ2B3YUXSFFEGJG3TZK6XJANCNFSM5A4UT3JA>
> .
>


-- 
Chet Ensign

Chief Technical Community Steward

OASIS Open

+1 201-341-1393 <+1+201-341-1393>
***@***.***
www.oasis-open.org


This issue discussed and approved during the OASIS CSAF TC monthly meeting on March 30, 2022.

I propose the request data per [RFC 9110 section 6.2. "Registry for security.txt Fields"](https://www.rfc-editor.org/rfc/rfc9116.html#name-registry-for-securitytxt-fi) to be:
```
Field Name: Canonical
Description: link to a provider-metadata.json resource of the Common Security Advisory Framework (CSAF)
Multiple Appearances: yes
Status: current
Change controller: OASIS-OPEN
Reference: RFC 9116
```

As per https://docs.oasis-open.org/csaf/csaf/v2.0/cs03/csaf-v2.0-cs03.html#718-requirement-8-securitytxt and https://docs.oasis-open.org/csaf/csaf/v2.0/cs03/csaf-v2.0-cs03.html#719-requirement-9-well-known-url-for-provider-metadatajson


@chet-ensign over the weekend I will create referenceable files from the "code block" of https://github.com/oasis-tcs/csaf/issues/318#issuecomment-1249152174 and submit the request forms - in case the change controller name I did guess is not correct please kindly state the correct one. Thanks.

The request has been submitted:

```
Your name: Stefan Hagen
Project name: OASIS Common Security Advisory Framework (CSAF) TC
Project email address: csaf@lists.oasis-open.org
Approval: https://raw.githubusercontent.com/oasis-tcs/csaf/master/meeting_minutes/2022/2022-03-30.md
Type of submission: Field name
Link to the registry: https://www.iana.org/assignments/security-txt-fields/security-txt-fields.xhtml
Link to the IANA RFC(s) governing the type of submission: https://www.rfc-editor.org/rfc/rfc9116.html#name-registry-for-securitytxt-fi
Link to the request form prepared by the committee: https://raw.githubusercontent.com/oasis-tcs/csaf/master/csaf_2.0/register/security-dot-txt/csaf.txt
Name(s) and email address(es) of the person(s) acting as technical contacts for the request:
  Stefan Hagen (stefan@hagen.link)
  Thomas Schmidt (thomas.schmidt@bsi.bund.de)
Notes: https://github.com/oasis-tcs/csaf/issues/318
```

The value is in the registry: https://www.iana.org/assignments/security-txt-fields/security-txt-fields.xhtml