Add Sharing Groups

At the document level there is a Publisher sub-item. There are some use cases where a publisher does not write an advisory for all customers, but rather publishes it for each one with appropriate additional information. In human-readable format, this is in the title and in the watermark.

Would it be possible to expand this for this or the next release? I could imagine placing Publisher and Document References directly between the points in the Secvisogram and adapting them accordingly to CSAF.

I could imagine to extend the `distribution` by an item called `sharing_group`. A required `id` would be a `uuid` and there could be an optional human-readable `name`. This should allow for such situations.

Note: CSAF documents that differ in content **MUST** use different `/document/tracking/id`. Given your suggestion that can easily be done by appending the `/document/distribution/sharing_group/id` to the `/document/tracking/id`.

@boschpsirt Please also formally notify about the suggestion by writing to the csaf-comment mailing list (as soon as its back online).

Hi,
we could imagine to extend the distribution by an item called **sharing_group**. A required id would be a uuid and there could be an optional human-readable name. This should allow for such situations.

Note: CSAF documents that differ in content MUST use different /document/tracking/id. Given your suggestion that can easily be done by appending the /document/distribution/sharing_group/id to the /document/tracking/id.


> I could imagine to extend the `distribution` by an item called `sharing_group`. A required `id` would be a `uuid` and there could be an optional human-readable `name`. This should allow for such situations.
> 
> Note: CSAF documents that differ in content **MUST** use different `/document/tracking/id`. Given your suggestion that can easily be done by appending the `/document/distribution/sharing_group/id` to the `/document/tracking/id`.

Hi Thomas,

we agree with this proposal.




Another use case for the suggested field is access restricted advisories. The addition of this field will allow automatic decision which CSAF documents show be displayed/accessible by which group based on the `sharing_group/id`. Therefore, it can also be used during the CVD process to provide data or an advisory stub automatically.

Call to action sent by @tschmidtb51 
Requests that all TC members review the suggested object `sharing_groups` within the next two weeks (2024-05-08) and comment in the issue directly.

https://groups.oasis-open.org/discussion/call-to-action-for-705

This should be discussed in the next meeting or a motion placed before the meeting on May 29th.

We will use UUIDv4.

Here is some background information regarding the choice of the `uuid` form (thanks to @bernhardreiter for looking into that and collecting information):

### Overview

Version | suited | comment
-- | -- | --
1 | no | superseded by 6
2 | no | legacy
3 | no | name based MD5
4 | yes | random value
5 | no | name hashed SHA1
6 | no | time based (improved on with 7)
7 | yes | time and random based
8 | no | custom algorithms

### Details

For `sharing_group/id`s a high resolution of time stamps is not necessary.

Thus, according to RFC 9562, only UUIDv4 and UUIDv7 are good candidates for the use as id in `sharing_groups`.

UUIDv6 is a replacement for UUIDv1 inheriting some drawbacks.

And UUIDv7 is an improvement over both. UUIDv7 uses the _well-known Unix Epoch timestamp source_, which takes up less space, so random values could be added. This means there is a lower risk of collisions and of being guessed.

UUIDv3 and UUIDv5 compute hash over a name. This is not needed and in addition both MD5 and SHA1 algorithms are not considered cryptographic secure for all uses in the next years, so just the mention of any of theses algorithms in a new standard will add the requirement to add a paragraph of justification and make implementations more difficult because existence of any code for these hashes is questioned in context of certified security.

UUIDv8 is application specific and would add the burden to specify the algorithms in more depth which is too much effort and error prone for the envisioned simple usage. UUIDv2 is an legacy use case and not even specified in the RFC itself.


We will use lowercase in 8-4-4-4-12 notation. The omni UUID `'FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF'.toLower() can be used in a TLP:CLEAR scenario :-)

> In the rfc9562 the MAX UUID is defined in uppercase .
>
> Shouldn't we make the compare of UUID case-insensitive?
>
> https://www.rfc-editor.org/rfc/rfc9562.html#section-5.10

_Originally posted by @rainer-exxcellent in https://github.com/secvisogram/csaf-validator-lib/pull/227#discussion_r1986765452_

> In the rfc9562 the MAX UUID is defined in uppercase .

UUIDs according to [RFC9562, section 4](https://datatracker.ietf.org/doc/html/rfc9562#name-uuid-format) are case insensitive:

> ABNF
[..]
> HEXDIG   = DIGIT / "A" / "B" / "C" / "D" / "E" / "F"
>
> Note that the alphabetic characters may be all uppercase, all lowercase, or mixed case, as per [Section 2.3](https://rfc-editor.org/rfc/rfc5234#section-2.3) of [[RFC5234](https://datatracker.ietf.org/doc/html/rfc9562#RFC5234)].

The upper case string in section 5.10 of rfc9562 is just one possible representation as section 4 has the definition and other representations are possible as well.

@bernhardreiter: Thank you for the fast response


Checking https://raw.githubusercontent.com/oasis-tcs/csaf/refs/heads/master/csaf_2.1/prose/share/csaf-v2.1-draft.md 👍 

> Sharing Group ID (`id`) of value type `string` with format `uuid` and `pattern` (regular expression):

That seems fine as https://www.learnjsonschema.com/2020-12/format-annotation/format/ lists a number of difficulties and strongly recommends: 

> To avoid the gray areas of this keyword, we recommend only treating it as an annotation, never enabling validation support at the implementation level (even if supported), and performing validation using the pattern keyword.

And https://json-schema.org/draft/2020-12/json-schema-validation#section-7.3.5 matches the meaning of format `uuid` to what is intended. 


Back to the csaf 2.1 draft:

> The ID SHALL be valid according to \[[RFC9562](#RFC9562)\] and recorded in the 8-4-4-4-12 notation in lower case.
The ID SHALL be a UUID Version 4 for any closed sharing group, i.e. `TLP:GREEN` and above.

This is fine in my reading.
If extra clarity is needed, it could be mentioned that selecting a subset of possible UUID-v4 representations is intentional. Here is a phrasing idea that shifts the focus towards that point, tries to vary the phrasing by using MUST instead of SHALL in the second sentense and adds the point that the UUIDs must differ for the sharing groups.

```markdown
The ID SHALL be a UUID Version 4 in lower case 8-4-4-4-12  notation,
and thus a valid subset of \[[RFC9562](#RFC9562)\].
Any closed sharing group, i.e. `TLP:GREEN` and above, MUST have a different ID.
```

> The ID SHALL be a UUID Version 4 in lower case 8-4-4-4-12 notation, and thus a valid subset of \[[RFC9562](#RFC9562)\].

I don't think there is extra clarity needed. And as we are also using Max UUID and Nil UUID which are both not Version 4 - I would skip that sentence.

> Any closed sharing group, i.e. `TLP:GREEN` and above, MUST have a different ID.

True but tricky. Maybe in addition with a note that UUID ensures that. Otherwise, we would need a register of UUIDs of all sharing groups that exist to prove that... 🙈 

While looking through the text, I think we already state that. I suggested to add a note in #907.