Register "csaf" as ROLIE feed type

We should register the term `csaf`as category in `urn:ietf:params:rolie:category:information-type`. See also: https://www.iana.org/assignments/rolie/rolie.xhtml

@chet-ensign same here - no action required on your part for now. Added you for information. I will prepare a content template for submittal to IANA, provide a motion template for the TC, and in case the motion carries, the TC chair may request registration per the usual admin interface at OASIS.

Got it. Let me know if I can help with any of this.

/chet

On Sat, Jul 24, 2021 at 9:45 AM Stefan Hagen ***@***.***>
wrote:

> @chet-ensign <https://github.com/chet-ensign> same here - no action
> required on your part for now. Added you for information. I will prepare a
> content template for submittal to IANA, provide a motion template for the
> TC, and in case the motion carries, the TC chair may request registration
> per the usual admin interface at OASIS.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/oasis-tcs/csaf/issues/314#issuecomment-886055848>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ACYUWROG2RMMHWJ7FK6QRDDTZK7WNANCNFSM5A3Z2YLQ>
> .
>


-- 
Chet Ensign

Chief Technical Community Steward

OASIS Open

+1 201-341-1393 <+1+201-341-1393>
***@***.***
www.oasis-open.org


This issue discussed and approved during the OASIS CSAF TC monthly meeting on March 30, 2022.

https://www.rfc-editor.org/rfc/rfc8322.html#section-8.4

I suggest to register "csaf" as ROLIE feed type per the following record satisfying the requirements given at [RFC 8322, Section 8.4 "ROLIE Information Types Registry"](https://www.rfc-editor.org/rfc/rfc8322.html#section-8.4):

```
Name: csaf
Index: <Will be assigned by IANA>
Reference: https://docs.oasis-open.org/csaf/csaf/v2.0/cs02/csaf-v2.0-cs02.html#7115-requirement-15-rolie-feed
```

The ROLIE information type `csaf` has been added to the [registry](https://www.iana.org/assignments/rolie/rolie.xhtml).