Test 6.2.14: Clarify & improve test coverage

The test description for 6.2.14 Use of Private Language states:

> For each element of type /$defs/lang_t it MUST be tested that the language code does not contain subtags reserved for private use.

During the implementation of this test for [csaf-rs/csaf](https://github.com/csaf-rs/csaf) we found that the test coverage does not consider "dedicated" private use subtags as defined in [RFC 5646 Section 2.2.7](https://datatracker.ietf.org/doc/html/rfc5646#section-2.2.7). This includes both "standalone" tags (e.g. `x-priv`) and the use as part of a language tag (e.g. `en-x-priv`). When used in Secvisogram, the two examples are shown as valid in the context of 6.2.14. 

Please clarify if private use subtags as described above are to be considered passing or failing in test 6.2.14. 

Further, we propose to expand the test coverage of test 6.2.14 to include:
* private use subtags as defined above (exp. `x-priv`, `en-x-priv`), either as passing or failing depending on the clarification
* a case / multiple cases of language tags that "are private" in multiple ways (exp. `en-Qabc-XP`, `qtx-Qabc-XP-x-priv`), for implementations that want to give a detailed overview as to why the test is failing

This issue was announced here: https://groups.oasis-open.org/discussion/new-issue-test-6214-clarify-improve-test-coverage