Tighten language type

We should consider to tighten our language type to just accept subtags that follow the conventions for capatalization of subtags.

Reason:
- easy to check
- easy to convert / fix automatically
- more consistency

@tschmidtb51 asked me to have a look at the question. Here are my findings after about 3h of research:

#  Question

Should language tags be tightened to force the use of case-sensitivity, which BCP 47 only recommends?

### Pro Arguments
* implementations do not need to fold case for comparisons
* implementations can just match the list from the registries
* users will always see the recommended formatting, without clients having to reformat

### Contra Arguments
* will be seen as violating BCP 47 by many
* implementations may need to implement and check the casing recommendations
* (maybe) implementations need to have additional access to the registry lists,
   making the tests less robust against changes over time
* `lang_t` variant richness seem to be of lesser importance to CSAF's mission

### Personal Recommendation

Keep the BCP 47 recommendations, 
say that the regular expression is derived from from the ABNF
and do not give many further instructions.

Rationale: the natural languages are less important for CSAF. 
And implementers familiar with languages that are "complicated" will most likely know BCP 47 for their use cases best already and have libraries at hand. Any non-standard rule will make all implementers think about it and write extra code.

A lot of experience seems to have been distilled into BCP 47, by sticking to it, CSAF builds on this wisdom.


## Considerations and details

https://www.rfc-editor.org/info/rfc4647/#section-3.2
remarks:

> Applications, protocols, and specifications are not required to
   validate or understand any of the semantics of the language tags or
   ranges or of the subtags in them, nor do they require access to the
   IANA Language Subtag Registry (see Section 3 in [RFC4646]).  This
   simplifies implementation.

If mandating case-sensitivity forces access to the contents of the registry,
it probably will make implementations more complicated as RFC4647 says.
Especially as the contents of the registry could potentially change
over time, thus validity depends on the point of time.

https://www.rfc-editor.org/info/rfc5646/#section-2.1.1
is pretty clear about that they are to be treated case insensitive:

> At all times, language tags and their subtags, including private use
   and extensions, are to be treated as case insensitive: there exist
   conventions for the capitalization of some of the subtags, but these
   MUST NOT be taken to carry meaning.

but that following the recommended casing will help users:

> Although case distinctions do not carry meaning in language tags,
   consistent formatting and presentation of language tags will aid
   users.  The format of subtags in the registry is RECOMMENDED as the
   form to use in language tags.

RFC5646 aka BCP 47 goes on to give some rules for capitalization
that can be used without consulting the full registry, however they are complicated.

Will deviate from those recommendations help the CSAF users directly
or indirectly via helping implementations?

Looking at `lang_t` for the CSAF 2.0 and upcoming CSAF 2.1 specifications:
It is used for the language of a CSAF document and for the source language
in case of translations.

The scope of CSAF is the security community, which needs interoperability as much
as possible - for this goal many of the important information is encoded in a
structured way and does not need a natural language to be understood.
Thus for CSAF someone could say that `lang_t` value details are playing a less
important role for the users, that mainly want to automating security.

Therefore implementation-burdens should be minimized. 
A validator should be fine without access to the registry or without
having to implement the casing rules by themselves. The easiest
way would be to just present values in the casing they already have from the CSAF document
and reducing validation to the ABNF (or a subset of it) from the RFC5646.

A potentially greater simplification would be to reduce the variants much further
and only use the `language` part without extensions, aka the "Primary Language Subtag". 
So that authors of CSAF documents are strongly encouraged to only add a
natural language that is most compatible on the whole range of the "primary" language
and represented in the most common form.
However as @tschmidtb51 remarks: The "primary language subtag" is not sufficient
to specify a range of languages that have a common understandable subset.
Examples for this come from languages that are not English or German.
 (And this author is only familiar with German and Englisch.)

I propose to close the ticket without action and I thank everyone who contributed these interesting facts and thoughts.

I've prepare PR #1481 that should fix the issue. For the solution see https://github.com/oasis-tcs/csaf/pull/1481#issue-4736051208